.q-spinner-root {
  width: var(--spinner-size);
  height: var(--spinner-size);
  position: relative;
  display: inline-block;
}
.q-spinner-root[data-color=primary] {
  --spinner-color: var(--hadr-color-primary);
}
.q-spinner-root[data-color=secondary] {
  --spinner-color: var(--hadr-color-secondary);
}
.q-spinner-root[data-color=accent] {
  --spinner-color: var(--hadr-color-accent);
}
.q-spinner-root[data-color=success] {
  --spinner-color: var(--hadr-color-success);
}
.q-spinner-root[data-color=warning] {
  --spinner-color: var(--hadr-color-warning);
}
.q-spinner-root[data-color=danger] {
  --spinner-color: var(--hadr-color-danger);
}
.q-spinner-root[data-color=info] {
  --spinner-color: var(--hadr-color-info);
}
.q-spinner-root[data-color=blue] {
  --spinner-color: var(--hadr-color-blue);
}
.q-spinner-root[data-color=indigo] {
  --spinner-color: var(--hadr-color-indigo);
}
.q-spinner-root[data-color=purple] {
  --spinner-color: var(--hadr-color-purple);
}
.q-spinner-root[data-color=pink] {
  --spinner-color: var(--hadr-color-pink);
}
.q-spinner-root[data-color=red] {
  --spinner-color: var(--hadr-color-red);
}
.q-spinner-root[data-color=orange] {
  --spinner-color: var(--hadr-color-orange);
}
.q-spinner-root[data-color=yellow] {
  --spinner-color: var(--hadr-color-yellow);
}
.q-spinner-root[data-color=green] {
  --spinner-color: var(--hadr-color-green);
}
.q-spinner-root[data-color=emerald] {
  --spinner-color: var(--hadr-color-emerald);
}
.q-spinner-root[data-color=teal] {
  --spinner-color: var(--hadr-color-teal);
}
.q-spinner-root[data-color=cyan] {
  --spinner-color: var(--hadr-color-cyan);
}
.q-spinner-root[data-color=sky] {
  --spinner-color: var(--hadr-color-sky);
}
.q-spinner-root[data-color=slate] {
  --spinner-color: var(--hadr-color-slate);
}
.q-spinner-root[data-color=gray] {
  --spinner-color: var(--hadr-color-gray);
}
.q-spinner-root[data-color=zinc] {
  --spinner-color: var(--hadr-color-zinc);
}
.q-spinner-root[data-color=neutral] {
  --spinner-color: var(--hadr-color-neutral);
}
.q-spinner-root[data-color=stone] {
  --spinner-color: var(--hadr-color-stone);
}
.q-spinner-root[data-color=white] {
  --spinner-color: var(--hadr-color-white);
}
.q-spinner-root[data-color=black] {
  --spinner-color: var(--hadr-color-black);
}

.q-spinner-classic {
  --spinner-width: calc(var(--spinner-size) / 8);
  width: calc(var(--spinner-size) - var(--spinner-width) * 2);
  height: calc(var(--spinner-size) - var(--spinner-width) * 2);
  display: inline-block;
  animation: spin 1s linear infinite;
  border-width: var(--spinner-width);
  border-radius: 50%;
  border-color: transparent var(--spinner-color, var(--hadr-color-primary)) var(--spinner-color, var(--hadr-color-primary));
  border-style: solid;
}

.q-spinner-circle {
  width: 12.5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 43.75%;
}
.q-spinner-circle::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 30%;
  background-color: var(--spinner-color, var(--hadr-color-primary));
  border-radius: 50px;
  animation: fadeAnimation 0.8s infinite ease-in-out both;
  animation-delay: var(--animation-delay);
}

.q-spinner-cube {
  background-color: var(--spinner-color, var(--hadr-color-primary));
  width: calc(var(--spinner-size) / 3);
  height: calc(var(--spinner-size) / 3);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  animation: cubeMove 1.8s infinite ease-in-out;
}
.q-spinner-cube:last-child {
  animation-delay: -0.9s;
}

.q-spinner-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.q-spinner-dot {
  width: calc(var(--spinner-size) / 4);
  height: calc(var(--spinner-size) / 4);
  background-color: var(--spinner-color, var(--hadr-color-primary));
  border-radius: 50%;
  animation: dotBounce 0.6s infinite alternate;
  animation-delay: var(--delay);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeAnimation {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes cubeMove {
  25% {
    transform: translateX(calc(var(--spinner-size) * 2 / 3)) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(calc(var(--spinner-size) * 2 / 3)) translateY(calc(var(--spinner-size) * 2 / 3)) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(calc(var(--spinner-size) * 2 / 3)) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes dotBounce {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.7;
  }
}
.q-spinner-root[data-size=xs] {
  --spinner-size: 12px;
}

.q-spinner-root[data-size=sm] {
  --spinner-size: 16px;
}

.q-spinner-root[data-size=md] {
  --spinner-size: 24px;
}

.q-spinner-root[data-size=lg] {
  --spinner-size: 32px;
}

.q-spinner-root[data-size=xl] {
  --spinner-size: 48px;
}